body {
  font-family: 'Noto Sans KR', sans-serif;
  color: #111;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

header {
  padding: 10px;
  border-bottom: 1px solid #eee;
  display: flex;
  font-weight: 700;
  align-items: center;
}

.slargebutton {
  width: 100%;
  height: 160px;
  margin: 20px 0px 20px 0px;
}


.logo {
  text-decoration: none;
  display: block;
  line-height: 1;
}

header a,
header a:focus,
header a:active,
header a:visited {
  color: #111;
}

header a:hover {
  color: #333;
}

.rightaline{
  text-align: right;
}

header select {
  margin-left: 1em;
}

.url:hover{
  cursor: pointer;
  color: #2196f3;
  font-weight: 600;
  text-decoration: underline;
}


.nextQuestion:hover{
  color: #0061f2 !important;
  text-decoration: underline;
}

.trash_sidebar{
  color:#212832;
  text-decoration: none;
}

.trash_sidebar:hover{
  color:#0061f2;
  text-decoration: none;
}

.overview-example__add {
  display: none;
}

.react-flow__node a {
  font-weight: 700;
  color: #111;
}

.react-flow__node.dark-node {
  background: #0041d0;
  color: #f8f8f8;
}

.react-flow__node.dark {
  background: #557;
  color: #f8f8f8;
}


.react-flow__edge.selectable .react-flow__edge-custom.selectable {
  cursor: pointer;
}

.react-flow__edge.selected .react-flow__edge-path {
  /* stroke: rgb(255, 0, 0); */
  stroke-dasharray: 5;
  -webkit-animation: dashdraw 0.5s linear infinite;
  animation: dashdraw 0.5s linear infinite;
  cursor: pointer;
}

.react-flow__node-input .react-flow__handle {
  background: #4d91f6;
  bottom: -10px;
  width: 15px;
  height: 15px;
}

.react-flow__node-output .react-flow__handle {
  background: #ff0072;
  top: -10px;
  width: 15px;
  height: 15px;
}


.react-flow__node-button {
  background: #daf2f8;
  border-color: #1a192b;
}

.react-flow__node-button.selected,
  .react-flow__node-button.selected:hover {
    box-shadow: 0 0 0 0.5px #1a192b;
  }

.react-flow__node-button {
    padding: 10px;
    border-radius: 3px;
    width: 150px;
    font-size: 12px;
    color: #222;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    /* margin-left:6px; */
  }


  .react-flow__node-condition {
    background: #72e097;
    border-color: #1a192b;
  }
  
  .react-flow__node-condition.selected,
    .react-flow__node-condition.selected:hover {
      box-shadow: 0 0 0 0.5px #1a192b;
    }
  
  .react-flow__node-condition{
      padding: 10px;
      border-radius: 3px;
      width: 150px;
      font-size: 12px;
      color: #222;
      text-align: center;
      border-width: 1px;
      border-style: solid;
    }


    
  
  .react-flow__node-function.selected,
    .react-flow__node-function.selected:hover {
      box-shadow: 0 0 0 0.5px #1a192b;
    }
  
  .react-flow__node-function{
      background: #e1fc96;
      border-color: #1a192b;
      padding: 10px;
      border-radius: 3px;
      width: 150px;
      font-size: 12px;
      color: #222;
      text-align: center;
      border-width: 1px;
      border-style: solid;
    }

    
    .react-flow__node-bio.selected,
    .react-flow__node-bio.selected:hover {
      box-shadow: 0 0 0 0.5px #1a192b;
    }
  
  .react-flow__node-bio{
      background: #ffeada;
      border-color: #1a192b;
      padding: 10px;
      border-radius: 3px;
      width: 150px;
      font-size: 12px;
      color: #222;
      text-align: center;
      border-width: 1px;
      border-style: solid;
    }

    


  .Customwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
  }
  
  .hswrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .react-flow__node-text {
    background: #fff982;
    border-color: #1a192b;
  }
  
  .react-flow__node-text.selected,
    .react-flow__node-text.selected:hover {
      box-shadow: 0 0 0 0.5px #1a192b;
    }
  
  .react-flow__node-text {
      padding: 10px;
      border-radius: 3px;
      width: 167px;
      font-size: 12px;
      color: #222;
      text-align: center;
      border-width: 1px;
      border-style: solid;
      margin-left:6px;
    }
  
@media screen and (min-width: 768px) {
  .overview-example__add {
    display: block;
  }
}

/* .qeustionPageTitleInput {
  border: none;
  border-bottom: 2px solid rgba(255, 0, 0, 0);
}


.qeustionPageTitleInput:focus {
  border: none;
  border-bottom: 2px solid #0061f2;
  outline: none;
} */




.questionContents {
  border: none;
  width: 298.6px;
  /* height: 1.5rem; */
  min-height: 40px;
  overflow: 'hidden';
  /* resize: none; */
  margin: 5px 5px 5px 5px;
  border-bottom: 2px solid rgb(59, 57, 57);
}

.questionContents:focus {
  border: none;
  border-bottom: 2px solid red;
  outline: none;
  overflow: 'hidden';
}


.LargeTextComponent {
  border: none;
  width: 100%;
  margin: 5px 5px 5px 5px;
  border-bottom: 2px solid rgb(59, 57, 57);
}

.LargeTextComponent:focus {
  border: none;
  border-bottom: 2px solid red;
  outline: none;
  overflow: 'hidden';
}



.suppleContents {
  border: none;
  width: 298.6px;
  height: 1.5rem;
  min-height: 1.5rem;
  overflow: 'hidden';
  /* resize: none; */
  margin: 5px 5px 5px 5px;
  border-bottom: dashed rgb(155, 155, 155);
  border-bottom-width: 0.1rem;
}

.suppleContents:focus {
  border: none;
  border-bottom: dashed  rgb(13, 153, 196);
  border-bottom-width: 0.1rem;
  outline: none;
  overflow: 'hidden';
}

.optionContents {
  border: none;
  width: 100px;
  height: 1.5rem;
  overflow: 'hidden';
  resize: none;
  margin: 5px 5px 5px 5px;
  border-bottom: 2px solid rgb(59, 57, 57);
}

.optionContents:focus {
  border: none;
  border-bottom: 2px solid red;
  outline: none;
  overflow: 'hidden';
}


.ConditionField{
  border: none;
  width: 80px;
  overflow: 'hidden';
  resize: none;
  margin: 5px 5px 5px 5px;
  border-bottom: 2px solid rgb(59, 57, 57);
}

.ConditionField:focus {
  border: none;
  border-bottom: 2px solid red;
  outline: none;
  overflow: 'hidden';
}



.KeyContents {
  border: none;
  width: 70px;
  height: 1.5rem;
  overflow: 'hidden';
  resize: none;
  margin: 5px 5px 5px 5px;
  border-bottom: 2px solid rgb(59, 57, 57);
}

.KeyContents:focus {
  border: none;
  border-bottom: 2px solid rgba(0, 97, 242, 1);
  outline: none;
  overflow: 'hidden';
}


.qeustionPageTitleInput {
  border: none;
  border-bottom: 2px solid rgba(255, 0, 0, 0);
  background: 
      linear-gradient(rgba(0, 97, 242, 1)) 
      bottom /var(--d, 0) 3px 
      no-repeat;
  transition:0.5s;
}
.qeustionPageTitleInput:focus {
  --d: 100%;
  border: none;
  outline: none;
  border-bottom: 2px solid #0061f2;
}

.parameterContents {
  width: 50px;
  height: 1.5rem;
  overflow: 'hidden';
  resize: none;
  border: solid 1px rgb(59, 57, 57);
  box-shadow:inset 0 0 1px 1px #888;
  background: #e9e9e98c;
  border-radius: 5px;
  margin: 5px 10px 5px 5px;
}

/* 
.parameterContents:focus {
  border: none;
  border-bottom: 2px solid red;
  outline: none;
  overflow: 'hidden';
} */

.no-drag {
  -ms-user-select: none; 
  -moz-user-select: -moz-none; 
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  user-select:none;
}



.react-flow__node-DescriptionNode {
  font-size: 12px;
  border: 1px solid #222;
  /* padding: 5px 5px 5px 5px; */
  border-radius: 5px;
  background-Color: #fff;
}

.react-flow__node-AnswerTextNode {
  font-size: 12px;
  border: 1px solid #222;
  /* padding: 5px 5px 5px 5px; */
  border-radius: 5px;
  background-Color: #fff;
}

.react-flow__node-AnswerNumberNode {
  font-size: 12px;
  border: 1px solid #222;
  /* padding: 5px 5px 5px 5px; */
  border-radius: 5px;
  background-Color: #fff;
}


.react-flow__node-MultipleChoiceNode {
  font-size: 12px;
  border: 1px solid #222;
  /* padding: 5px 5px 5px 5px; */
  border-radius: 5px;
  background-Color: #fff;
}

.react-flow__node-BranchMultipleChoiceNode {
  font-size: 12px;
  border: 1px solid #222;
  /* padding: 5px 5px 5px 5px; */
  border-radius: 5px;
  background-Color: #fff;
}

.react-flow__node-YesNoQuestionNode {
  font-size: 12px;
  border: 1px solid #222;
  /* padding: 5px 5px 5px 5px; */
  border-radius: 5px;
  background-Color: #fff;
}


.react-flow__node-YesNoBranchQuestion {
  font-size: 12px;
  border: 1px solid #222;
  /* padding: 5px 5px 5px 5px; */
  border-radius: 5px;
  background-Color: #fff;
}

.react-flow__node-W_BranchMultipleChoiceNode {
  font-size: 12px;
  border: 1px solid #222;
  border-radius: 5px;
  background-Color: #fff;
  width:320px;
}

.react-flow__node-W_MultipleChoiceNode {
  font-size: 12px;
  border: 1px solid #222;
  border-radius: 5px;
  background-Color: #fff;
  width:320px;
}


.react-flow__node-ConditionNode {
  font-size: 12px;
  width:370px;
  border: 1px solid #222;
  border-radius: 5px;
  background-Color: #fff;
}

.react-flow__node-MultipleConditionNode {
  font-size: 12px;
  width:370px;
  border: 1px solid #222;
  border-radius: 5px;
  background-Color: #fff;
}



.react-flow__node-SessionChangeButton {
  font-size: 12px;
  border: 1px solid #222;
  /* padding: 5px 5px 5px 5px; */
  border-radius: 5px;
  background-Color: #fff;
}

.react-flow__node-PrintNode {
  padding: 10px;
  border-radius: 3px;
  width: 160px;
  font-size: 12px;
  color: #222;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  background: #e1fc96;
}

.react-flow__node-PrintNode.selected,
.react-flow__node-PrintNode.selected:hover {
  box-shadow: 0 0 1rem #4daaf6f5;
}



.react-flow__node-V_DescriptionNode {
  font-size: 12px;
  border: 1px solid #222;
  /* padding: 5px 5px 5px 5px; */
  border-radius: 5px;
  background-Color: #fff;
}


.react-flow__node-V_DescriptionNode.selected,
.react-flow__node-V_DescriptionNode.selected:hover {
  box-shadow: 0 0 1rem #4daaf6f5;
}


.react-flow__node-SmartWatchIDShowNode {
  padding: 10px;
  border-radius: 3px;
  width: 160px;
  font-size: 12px;
  color: #222;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  background: #ffeada;
}

.react-flow__node-SmartWatchIDShowNode.selected,
.react-flow__node-SmartWatchIDShowNode.selected:hover {
  box-shadow: 0 0 1rem #4daaf6f5;
}


.react-flow__node-default,
.react-flow__node-input,
.react-flow__node-output,
.react-flow__node-button {
  padding: 10px;
  border-radius: 3px;
  width: 150px;
  font-size: 12px;
  color: #222;
  text-align: center;
  border-width: 1px;
  border-style: solid;
}

.react-flow__node-SessionChangeButton.selected,
.react-flow__node-SessionChangeButton.selected:hover {
  box-shadow: 0 0 1rem #4daaf6f5;
}


.react-flow__node-AnswerNumberNode.selected,
.react-flow__node-AnswerNumberNode.selected:hover {
  box-shadow: 0 0 1rem #4daaf6f5;
}

.react-flow__node-MultipleChoiceNode.selected,
.react-flow__node-MultipleChoiceNode.selected:hover {
  box-shadow: 0 0 1rem #4daaf6f5;
}

.react-flow__node-AnswerTextNode.selected,
.react-flow__node-AnswerTextNode.selected:hover {
  box-shadow: 0 0 1rem #4daaf6f5;
}

.react-flow__node-BranchMultipleChoiceNode.selected,
.react-flow__node-BranchMultipleChoiceNode.selected:hover {
  box-shadow: 0 0 1rem #4daaf6f5;
}

.react-flow__node-DescriptionNode.selected,
.react-flow__node-DescriptionNode.selected:hover {
  box-shadow: 0 0 1rem #4daaf6f5;
}

.react-flow__node-YesNoQuestionNode.selected,
.react-flow__node-YesNoQuestionNode.selected:hover {
  box-shadow: 0 0 1rem #4daaf6f5;
}

.react-flow__node-YesNoBranchQuestion.selected,
.react-flow__node-YesNoBranchQuestion.selected:hover {
  box-shadow: 0 0 1rem #4daaf6f5;
}


.react-flow__node-W_BranchMultipleChoiceNode.selected,
.react-flow__node-W_BranchMultipleChoiceNode.selected:hover {
  box-shadow: 0 0 1rem #4daaf6f5;
}

.react-flow__node-W_MultipleChoiceNode.selected,
.react-flow__node-W_MultipleChoiceNode.selected:hover {
  box-shadow: 0 0 1rem #4daaf6f5;
}



.react-flow__node-ConditionNode.selected,
.react-flow__node-ConditionNode.selected:hover {
  box-shadow: 0 0 1rem #4daaf6f5;
}

.react-flow__node-MultipleConditionNode.selected,
.react-flow__node-MultipleConditionNode.selected:hover {
  box-shadow: 0 0 1rem #4daaf6f5;
}


.NodeTitle {
  width: 50%;
  font-weight: bold;
  text-align: left;
  padding: 5px;
  margin: 0px;
}

.NodeTitleVariation {
  width: 80%;
  font-weight: bold;
  text-align: left;
  padding: 5px;
  margin-left: 3px;
}

.NodeTitleVariation-header{
  display: flex;
  width: 220px;
  align-items: center !important;
}

.closeFeatherIcon {
  stroke: #0f0f0f;
  width: "10%"
}

.feather {
  width: 10%;
  stroke: #0f0f0f;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}


.featherAlert {
  width: 36px;
  height:36px;
  margin-right: 16px;
  stroke: #ff0000;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.featherAlertCircle {
  width: 36px;
  height:36px;
  margin-right: 16px;
  stroke: #0061f2;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}


.featherListIcon {
  stroke: #0061f2;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}


.TextAreaASAP{
  line-height: 1.4 !important;
  font-size: large;
  font-weight: 700;
}

.div-center {
  width: 400px;
  height: 400px;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 1em 2em;
  border-bottom: 2px solid #ccc;
  display: table;
}

div.content {
  display: table-cell;
  vertical-align: middle;
}


.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #707070; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position:absolute;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.Loadingcontainer {
  height: 120px;
  position: relative;
}

.Loadingcenter {
  margin: 0;
  position: absolute;
  top: 10%;
  left: 36%;
  bottom : 0%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -15%);
}